/* Remove margin / padding from around content. Normally 8px */

body,html {
  margin:0;
  padding:0;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #33ccff;
  background: linear-gradient(to bottom, #33ccff 0%, #000000 15%);
  color: lightblue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
