<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Football Players of the World</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Football Players of the World</h1>
    <nav>
      <a href="/players">Index</a> |
      <a href="/players/new">Add Player</a>
    </nav>
    <hr/>
      <%= yield %>
    <hr/>
    <footer>
      &copy; SB Productions 2020
    </footer>
  </body>
</html>
