<form action="/lookup"> <!-- Go back to the server and run /lookup -->
  <label for="">
    Pick your movie here:
    <input type="text" name="movies"> <!-- input referred to as 'movies', typed in the box -->
  </label>

  <button>Lookup!</button>
</form>
