<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Incredible Bikes Of The World</title>
</head>
<body>
  <h1>Incredible Bikes Of The World: <span id = "title">Only for crazy riders</span></h1>
  <%= yield %>
<footer>@copyrights CANYON ITALY @eatridesleep</footer>
</body>
</html>
