<h2>New Arrival Bikes</h2>

<form action="/bikes" method="post"> <!-- isn't /animals the index route??!! -->

  <label>
    Brand:
    <input type="text" name="brand">
  </label>
  <br>

  <label>
    Kind:
    <input type="text" name="kind">
  </label>
  <br>

  <label>
    Model:
    <input type="text" name="models">
  </label>
  <br>

  <label>
    Price:
    <input type="text" name="price">
  </label>
  <br>

  <label>
    Available:
    <input type="text" name="available"><!-- should be a checkbox! -->
  </label>
  <br>

  <label>
      Image URL:
      <input type="text" name="image_url">
    </label>
    <br>

  <input type="submit" value="Create Bike">

</form>
