<h1>Welcome to the Games Page!</h1>
<h2>Here are the games that you may play:</h2>
<ul>
  <li><a href="/magiceightball/magic/">Magic 8 Ball</a></li>
  <li><a href="/secretnumber/secret">Secret Number</a></li>
  <li><a href="#">Rock Paper Scissors</a></li>
</ul>
