<h2>Add new car</h2>

<form action="/cars" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <br>

  <label>
    Image:
    <input type="text" name="image_url">
  </label>
  <br>
  <br>

  <label>
    Brand ID:
    <input type="text" name="brand_id">
  </label>

  <br>
  <br>

  <input type="submit" value="Add car">

</form>
