<h2>Add New Player</h2>
<hr>

<form action="<%= players_path %>" method="post">

<label for="name">Name:</label>
<input type="text" id="name" name="name">
<label for="age">Age:</label>
<input type="text" id="age" name="age">
<label for="position">Position:</label>
<input type="text" id="position" name="position">
<label for="number">Number:</label>
<input type="text" id="number" name="number">
<label for="country">Country:</label>
<input type="text" id="country" name="country">
<label for="image">Image:</label>
<input type="text" id="image" name="image">


<button>Add Player</button>
</form>