<h2>New Character</h2>
<form action="/" method="post">
  <label>Name: <input type="text" name="name"></label>
  <br>
  <label>Debut: <input type="text" name="debut"></label>
  <br>
  <label>Age: <input type="text" name="age"></label>
  <br>
  <label> Image URL: <input type="text" name="image"></label>
  <br>
  <button>Submit</button>
</form>
