<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Send Noods</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <h1>Send Noods</h1>
    <hr/>
    <%= yield %>
    <hr/>
    <footer>
      &copy; dphlai 2020
    </footer>

  </body>

</html>
