<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon & Trainers</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Pokemon and their trainers!</h1>
  <nav>
    <a href="/">Home</a>
    |
    <a href="/trainers/new">New Trainer</a>
    <a href="/mons/new">New Pokemon</a>
  </nav>
  <hr/>

  <%= yield %>
  <hr/>
  <footer>
    Nintendo pls no sue.
  </footer>

</body>
</html>
