<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Air Jordan Collection</title>
</head>
<body>
  
  <h1>Air Jordan Collection</h1>
  
  <nav>
    <ul class="menu">
      <li><a href="/airjordans">Home</a></li>
      <li><a href="/airjordans/new">Add Air Jordan</a></li>
    </ul>
  </nav>
  <hr>

  <%= yield %>

  <footer>
  <hr>
    <p>Copyright &copy; 2020 Air Jordan. Terms & Conditions. Privacy Policy.</p>
  </footer>

</body>
</html>