<h2>Add Air Jordan</h2>

<form action="/airjordans" method="post">
  <label for="name">Name:</label><br>
  <input id="name" type="text" name="name"><br>
  <label for="original_release">Original Release:</label><br>
  <input id="original_release" type="text" name="original_release"><br>
  <label for="designer">Designer:</label><br>
  <input id="designer" type="text" name="designer"><br>
  <label for="color">Color:</label><br>
  <input id="color" type="text" name="color"><br>
  <label for="price">Price:</label><br>
  <input id="price" type="text" name="price"><br>
  <label for="retro">Retro:</label><br>
  <input id="retro" type="text" name="retro"><br>
  <label for="image_url">Image URL:</label><br>
  <input id="image_url" type="text" name="image_url"><br>
  <button>Add Air Jordan</button>
</form>
