<h2> Add new language </h2>

<form action="/languages" method="post">

    <label>
        Name: 
        <input type="text" name="name">
    </label>
    <br>

    <label>
        Family: 
        <input type="text" name="family">
    </label>
    <br>

    <label>
        Countries
        <input type="text" name="countries">
    </label>
    <br>
    
    <label>
        Description
        <input type="text" name="description">
    </label>
    <br>

    <label>
        Difficulty
        <input type="text" name="difficulty">
    </label>
    <br>
   
    <label>
        Alive
        <input type="text" name="alive">
    </label>
    <br>

    <label>
    Image URL: 
    <input type="text" name="image_url">
    </label>
    <br>    

    <input type="submit" value="Create Language">