<h2> Add New Language</h2>

<form action="<%= languages_path %>" method="post">

<label>
    Name: <input type="text" name="name">
</label>
<br>

<label>
    family: <input type="text" name="family">
</label>
<br>

<label> 
    difficulty: <input type="text" name="difficulty">
</label>
<br>

<label>
    countries: <input type="text" name="countries">
</label>
<br>

<label>
    Image URL: <input type="text" name="image">
</label>

<button>Create language</button>

</form>