<h2>Add New Dog</h2>

<form action="<%= dogs_path %>" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Breed:
    <input type="text" name="breed">
  </label>
  <br>

  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>

  <label>
    Description:
    <input type="text" name="description">
  </label>
  <br>

  <label>
    Image:
    <input type="text" name="image">
  </label>
  <br>

  <button>Create Dog</button>
</form>
