<h3>Create Dive Site</h3>

<form action="/locations" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Location:
    <input type="text" name="location">
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>

  <input type="submit" value="Create Location">

</form>
