<h2>Add New island</h2>
<form action="<%= islands_path %>" method="post">
  <label>
    Name:
    <input type="text" name="name" >
  </label>
  <br>
<label>
  Area:
  <input type="text" name="area" >
</label>
<br>
<label>
  Population:
  <input type="text" name="population" >
</label>
<br>
<label>
  Currency:
   <input type="text" name="currency" >
</label>
<br>
<label>
  Image URL:
  <input type="text" name="image" >
</label>
<br>
<button>Create Island</button>
</form>
