<h1>New Trainer</h1>

<form action="/trainers" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>
  <label>
    Home Town:
    <input type="text" name="home_town">
  </label>
  <br>
  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>
    <input type="submit" value="Submit!">
</form>
