<h2> Enter the stock code to look up the price</h2>

<!-- <form action="/movie/search">

  <label for="">
    Movie Name:
    <input type="text" name="movie_name"
  </label>

  <button>Search!</button>

  </form> -->
