<h1>Secret Number</h1>

<form action="gametwo/result">

  <label for="number">Please guess the number:</label>

  <select name="number" id="number">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select><br>

  <button>Submit</button>

</form>