@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

.text {
  color: rgb(200, 200, 200)
}

a, a:visited {
  color: rgb(52, 131, 249);
}

img {
  max-width: 200px;
}

img.car {
  max-width: 800px;
}
