<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Football Legends</title>
    <link rel="stylesheet" href="/css/footballers.css">
  </head>
  <body>

    <h1>Footballing Legends: The Greatest</h1>
    <nav>
      <a href="/footballers">Index</a>
      |
      <a href="/footballers/new">Add a Legend</a>
    </nav>
    <hr/>

    <%= yield %>

    <hr/>
    <footer>
      &copy; Kick The Ball Boy Productions 2021
    </footer>

  </body>
</html>
