<h2>Add another Legend</h2>

<form action="/footballers" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Position:
    <input type="text" name="position">
  </label>
  <br>

  <label>
    Club:
    <input type="text" name="club">
  </label>
  <br>

  <label>
    Number:
    <input type="text" name="kit_number">
  </label>
  <br>

  <label>
    Retired:
    <input type="text" name="retired"> <!-- should be a checkbox! -->
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="profile_image">
  </label>
  <br>

  <input type="submit" value="Create Legend">

</form>
