<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
  <title>Stock Quote</title>
</head>
<body>
  <h1>Stock Quote</h1>
  <hr/>

<!-- Actual Varying page content goes here! -->

  <%= yield %> <!-- this makes the 'erb :calc' content appear here! -->

  <hr/>
  &copy; Hammer Productions 2020
</body>
</html>
