<h1>Rock Paper Scissors</h1>

<p>Please select your throw:</p>
<a href="/gamethree/rock"><h3>Rock</h3></a>
<a href="/gamethree/paper"><h3>Paper</h3></a>
<a href="/gamethree/scissors"><h3>Scissors</h3></a>


<!-- <form action="/gamethree/">
<p>Please select your throw:</p>
  <select name="throw">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select><br>
  <button>Submit</button>
</form> -->
