body {
  background-image: url("/images/FINAL-HERO-DARK-1.jpg");
}

a {
  color: green;
}

h1 {
  color: white;
}

footer {
  color: orange;
}

label,span {
  color: white;
}

#title{
  font-weight: bold;
  color: blue;
}
