<h1>welcome to movie site</h1>
<form action="/result">
<label>
  Enter the movie name for exciting information
  <input type="text" placeholder='movie name' required name='movie_name'>
</label>
  <button>find</button>
</form>
