#container
{
  margin: 20px auto;
  padding: 10px 50px 30px 30px;
  width: 1000px;
}

#logo {
  position: absolute;
  left: 0px;
  top: 0px;
}

#social {
  position: absolute;
  left: 200px;
  top: 0px;
}
