<h1>Welcome to the games site.</h1>

<ul>
  <li><a href="/eights">Magic 8 Ball</a></li>
  <li><a href="/secrets">Secret Number</a></li>
  <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>


</ul>
