
/*@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital@1&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital@1&display=swap');

body {
  margin: 10px;

  background-color: #090909;
  /*font-family: 'Courgette', cursive;*/

  font-family: 'Noto Sans', sans-serif;

}

.bio {
    display: inline-block;
    width: 500px;
    height: 800px;
    overflow: scroll;
    color: white;
    /*border: 1px solid green;*/
}

.gradientTop {
   position: absolute;
   top: 0px;
   left: 0px;
   /*border: 1px solid green;*/
}

.gradientBottom {
   position: absolute;
   bottom: 0px;
   left: 0px;
   /*border: 1px solid green;*/
}

.bio h1 {
    text-align: center;
    position: relative;
    top: 250px;
    font-size: 40px;
}

.bio h5 {
    text-align: center;
    position: relative;
    top: 250px;
    font-size: 16px;
}

.bio p {
  position: relative;
  top: 600px;
}

.staticImage {
    display: inline-block;
    max-width: 500px;
    height: auto;
    /*border: 1px solid green;*/
}

.theLinks {
    position: absolute;
    display: inline-block;
    font-size: 35px;
    color: white;
    /* text-align: center; */
}
a:link {
  color: white;
}

a:visited {
  color: white;
}
#trivia {
    top: 470px;
    left: 650px;
    opacity: 0.0;
}
#hometown {
  top: 470px;
  left: 800px;
  opacity: 0.0;
}

.staticImage:hover  {
  opacity: 0.9;
}

#trivia:hover, #hometown:hover {
  opacity: 1;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
