<h2>Enter Calculation Details</h2>

<form  action="">
  <label for="">
    First number:
    <input type="text" name="firstnum" >
  </label>

<label>
  Operator:
  <input type="text" name="operator" value="">
</label>
</form>
<label>
  Second number:
  <input type="text" name="secondnum" value="">
</label>
<button> calculate </button>
</form>
