<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>EPL</title>
</head>
<body>

  <header>
    <img class="logo" src="https://png2.cleanpng.com/sh/480e71574e0333ba0d3fa34cf275bb26/L0KzQYm3UsA1N5hqj5H0aYP2gLBuTcIxOWd6SqI6M0G6PcH5hf1qbaMyhNdqZ4XoPYKCWcl2OmE2S6Q5MECwdrK0kQJmdZpqReJ7ZX3sdcO0jPVib6ZqReJ3Zz3peb3sTcViP2g5SaU8OEWzdbKATsY0OWM8UKk8MUW0R4i9VMkyPWY5TZD5bne=/kisspng-2016u201317-premier-league-1999u20132000-fa-premie-premier-league-png-file-5a774133850ea7.631278731517764915545.png" alt="">
    <div class="tagline"><h1>EPL Top Teams & Top Players</h1></div>
  </header>

  <nav>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/teams">Top Teams</a></li>
      <li><a href="/teams/new">Add Team</a></li>
      <li><a href="/players">Top Players</a></li>
      <li><a href="/players/new">Add Player</a></li>
    </ul>
  </nav>

  <%= yield %>

  <footer>
    &copy PREMIER LEAGUE 2020 |  Modern Slavery Statement | Equality Standard | Terms & Conditions | Privacy Policy | Cookie Policy | Back To Top
  </footer>

</body>
</html>

