
body {
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	color: #656565;
	line-height: 17px;
	margin: 32px 35px 32px 101px;
}

header {
	color: #656565ad;
	letter-spacing: 0.15em;
}

#container {
	/* margin: 0 auto !important; */
}

.clients img {
	border: 4px solid #93919182;
	padding: 2px;
}

p .date {
	color: #1a98d7;
}

a {
	text-decoration: none;
	color: #1a98d7;
}

a:hover {
	color: #20222a;
}


