<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Movie Search</h1>
    <hr/>

    <!-- actual varying page content goes here! -->

    <%= yield %> <!-- this makes the 'erb :calc' content appear here -->
    
    <hr/>
    &copy; dphlai 2020
  </body>
</html>
