html, body, div, nav, footer, header, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul li {
  display: inline-block;
  padding: 0 20px;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #37003C;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 20px 0;
}

.logo {
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

.tagline {
  display: inline-block;
  vertical-align: top;
  color: #37003C;
  line-height: 100px;
  height: 100px;
}

nav {
  height: 60px;
  line-height: 60px;
  background-color: #37003C;
  color: #ffffff;
  padding: 0 20px;
  margin-bottom: 40px;
}

.navigation a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.flex-item {
  display: flex;
  width: 480px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #37003C;
  color: #ffffff;
  font-size: 40px;
  padding: 40px;
}

h2 {
  font-size: 40px;
  color: #37003C;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  color: #37003C;
  margin: 5px 0;
}

h4 {
  font-size: 18px;
  color: #37003C;
}

.team_list li,
.player_list li {
  display: block;
  padding: 10px 0;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #37003C;
  margin: 20px 0;
}

.edit_navigation {
  height: 40px;
}

.team_logo {
  width: 160px;
  float: right;
}

form {
  font-size: 18px;
  color: #37003C;
}

input {
  height: 30px;
  margin: 10px 0 20px 0;
  border-radius: 0px;
  border: 1px solid #37003C;
}

.radio {
  margin-bottom: 20px;
  overflow: auto;
}

.radio_circle {
  margin-right: 10px;
  cursor: pointer;
}
.radio_label {
  margin-right: 20px;
  cursor: pointer;
}
.checkbox {
  margin-bottom: 20px;
  overflow: auto;
}

.checkbox_circle {
  margin-right: 10px;
  cursor: pointer;
}
.checkbox_label {
  margin-right: 20px;
  cursor: pointer;
}

button {
  height: 40px;
  font-size: 18px;
  background-color: #37003C;
  color: #ffffff;
  width: 200px;
  outline: none;
  cursor: pointer;
  border: 0;
  margin-top: 20px;
}

footer {
  /* position: absolute;
  bottom: 0; */
  background-color: #37003C;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  width: 1000px;
  margin-top: 60px;
}