<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Movie Lookup</h1>
    <hr/>

    <%= yield %>

    <hr/>
  </body>
</html>
