
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie name lookup</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Movie name lookup</h1>
<hr/>
    
<!-- actual varying page content should go here -->

<%= yield %> <!-- this makes the 'erb:form' or whichever content appear here! -->

<hr/>
&copy; RP productions 2020
</body>
</html>