<h1>Throw it !!!</h1>

<form action="/rock_paper_scissors/play">

  <label>
    What's your throw?
    <select name="throw">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
  </label>
  
  <button>Submit !!</button>

</form>
