<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scooba Dooba Dive Destinations</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <h1>Scuba Dooba Dive Destinations</h1>
  <nav>
    <a href="/locations">Destinations</a>
    <a href="/creatures">Creatures</a>
    <a href="/locations/new">Add a destination</a>
    <a href="/creatures/new">Add a creature</a>
  </nav>
  <hr/>


  <%= yield %> <!-- insert the specific route template here! -->
  <hr/>
  <footer>
    &copy; Hammer Productions 2020 aka Gods of the Web
  </footer>

</body>
</html>
