<h1>New Pokemon</h1>

<form action="/mons" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Type One:
    <input type="text" name="type1">
  </label>
  <br>
  <label>
    Type Two:
    <input type="text" name="type2">
  </label>
  <br>
  <label>
    Pokedex Entry:
    <input type="text" name="pokedex">
  </label>
  <br>
  <label>
    Weight(kg):
    <input type="text" name="weight">
  </label>
  <br>
  <label>
    Height(m):
    <input type="text" name="height">
  </label>
  <br>
  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>
  <label>
    Trainer ID:
    <input type="text" name="trainer_id">
  </label>
  <br>

    <input type="submit" value="Submit!">
</form>
