<h1>Welcome to the Guessing Game</h1>
<p>Guess a number between 1 to 10</p>
<form action="/secretnumber/secret_result" method="get">

  <label>
    Input:
    <input type="text" name="guess">
  </label>
  <button>Guess!</button>
</form>
