<h2>Add new brand</h2>

<form action="/brands" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <br>

  <label>
    Established in (year):
    <input type="text" name="established_in">
  </label>
  <br>
  <br>

  <label>
    Country of origin:
    <input type="text" name="country_of_origin">
  </label>
  <br>
  <br>

  <label>
    Description:
    <input type="text" name="description">
  </label>
  <br>
  <br>

  <label>
    Logo URL:
    <input type="text" name="logo_url">
  </label>
  <br>
  <br>

  <input type="submit" value="Add brand">

</form>
