body {
    background-color: black;
  }
  
  #words {
    display: none;
    /* visibility: hidden; */
  }
  
  .word {
    font-family: Georgia, serif;
    font-size: 60pt;
    color: white;
    position: absolute;
    display: none;
  }