<h2>Rock Paper Scissors</h2>
<form action="rps/result">
  <h3>Enter your move!</h3>
  <select name="user_move">
    <option value='0' >Paper</option>
    <option value='1' >Scissors</option>
    <option value='2' >Rock</option>
  </select>
  <button>Submit</button>
</form>
